.card {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 4px #3d3d3d;
    width: 250px;
    height: 325px;
    max-height: fit-content;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
  }
  
  .card h3 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .card img {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .card li {
    margin-bottom: 10px;
    font-size: 16px;
  } 


  /* p {
    inline-size: 200px;
    overflow:hidden;
  } */