.comment-container {
    text-align: left;
  }
  
  .comment {
    margin-bottom: 20px;
  }
  
  .comment-title {
    text-decoration: underline;
  }
  
  .comment-line {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
  }