.comment-container {
    text-align: left;
  }
  
  .comment {
    margin-bottom: 20px;
  }
  
  .comment-title {
    text-decoration: underline;
  }
  
  .comment-line {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .comment-creator {
    display: inline-block;
    margin-right: 10px;
  }
  
  .delete-btn {
    width: 40px;
    height: 40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #FF9AD6;
    color: #3d3d3d;
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
  }
  

  