.navbar {
    position: fixed;
    height: 60px;
    width: 390px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1;
  }

li {
    text-decoration: none;
    list-style: none;
}

.logoBtn{
    margin-left: 15%;
    width: 200px;
    border: none;
}

.rounded-btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #FFF4F4;
    color: #3d3d3d;
    font-size: 25px;
    margin-right: 15%;
    transition: background-color 0.5s ease;
  }
  
  .rounded-btn.active{
    background-color: #3d3d3d;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 1px;
    width: 80%;
    background-color: #FFF4F4;
    border-radius: 25px;
    height: 200px;
    z-index: -1;
    opacity: 0;
    transform: translateY(-200px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    
  }
  
  .menu.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .menu-item-1{
    text-decoration: none;
    width: 80%;
    margin-top: 60px;
    margin-left: 10px;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #3d3d3d;
    color: #3d3d3d;
    transition: background-color 0.3s ease;
  }

  .menu-item {
    width: 80%;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    color: #3d3d3d;
    border-bottom: 1px solid #3d3d3d;
    transition: background-color 0.3s ease;
  }

  .menu-item-1:hover {
    background-color: #FB8653;
    border-radius: 20px;
  }

  .menu-item:hover {
    background-color: #FB8653;
    border-radius: 20px;
  }
  
  .profile-btn{
    color: #3d3d3d;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF4F4;
    display: inline-flex;
    align-items: auto;
    justify-content: auto;
    font-size: 40px;
    margin-left: 10%;
    
  }

  .profile-btn.active{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: auto;
    justify-content: auto;
    border-radius: 50%;
    background-color: #FFF4F4;
    color: #3d3d3d;
    font-size: 40px;
    
  }