

.container{
  width: 94%;
  margin: 80px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #3d3d3d;
  align-self: center;
  font-family: 'Gravitas One', cursive;
}