/* .container {
  position: absolute;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
} */

body{
  background-color: #FFE1AD;
}

/*------LAYOUT BODY-------*/

div.app-body {
  position: absolute;
  width: 94%;
  margin: 80px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #3d3d3d;
  align-self: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #3d3d3d;
  overflow-y: scroll;
}


/*-----HOME------*/

.home-body{
  align-self: center;
  justify-content: center;
  font-family: 'Gravitas One', cursive;
  font-size: 2vh;
  color: #3d3d3d;
  text-align: center;
}

.home-noLog-body{
  position: absolute;
  background-image: url(img/backgroundPublic.png);
  z-index: 0;
}

.home-message{
  font-family: 'Gravitas One', cursive;
  font-size: 3vh;
  color: #3d3d3d;
  text-align: center;
}

.inner-cont {
  position: relative;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/*------HOME SLIDER----*/

/* .slider-container {
  max-width: 90%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  overflow-x: scroll;
  border-radius: 25px;
  background-color: transparent;
}

.slider {
  display: flex;
  overflow-x:visible;
  scroll-behavior: smooth;
}

.slide {
  flex-shrink: 0;
  width: 300px;
  margin-right: 1rem;
  padding-left: 10px;
  font-size: 16px;
} */



form {
  width: 80%;
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #3d3d3d
}

label {
  width: 90%;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 90%;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #3d3d3d;
  margin-bottom: 20px;

}

.btn {
  margin-top: 10px;
  background: #3d3d3d;
  border-radius: 25px;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #3d3d3d;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 25px;
  border: 2px solid #3d3d3d;
  color: #3d3d3d;
  font-size: 1.25rem;
  background: #FFD3D3;
  transform: translateY(-6px);
}

.btn:active .front {
  transform: translateY(-2px);
}


.password-input{
  display: flex;
  gap: 10px;
  width: 100%;
}

.eye-btn{
  display: block;
  position: relative;
  margin-bottom: 10px;
  margin-right: 5px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 30px;
}

.add-btn {
  position: fixed;
  bottom: 25px;
  left: 280px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #FB8653;
  color: #3d3d3d;
  font-size: 25px;
  z-index: 1;
}
