

body{
  background-image:url('./img/bckgrnd.png');
}


/*------LAYOUT BODY-------*/

div.app-body {
  position: absolute;
  width: 95%;
  margin: 90px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #3d3d3d;
  overflow-y: scroll;
  border-radius: 30px;
}

.title{
  padding: 15px 0;
  margin: 0;
  text-align: center;
  font-family: 'MuseoModerno', cursive;
}

.title-bg{
  background-color: #00CCCD;
  padding: 0 20px;
  display: block;
  text-align: center;
  border-radius: 0 25px 0 25px;
  border: 2px solid #3d3d3d;
}


/*-----HOME------*/

.home-noLog-body{
  position: absolute;
  height: 100%;
  background-image: url(img/backgroundPublic.png);
  z-index: 0;
}

.home-message{
  font-family: 'Gravitas One', cursive;
  font-size: 3vh;
  color: #3d3d3d;
  text-align: center;
}

.inner-cont {
  position: relative;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/*------HOME SLIDER----*/


.slider-container {
  position: relative;
  align-self: center;
  width: 85%;
  height: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  /* height: 200px; */
  transition: transform 0.2s ease-out;
  transform: translateX(0%);
}

.slide {
  flex: 0 0 33.3333%;
  padding: 0 10px;
  box-sizing: border-box;
  
}

/*-----CARD DETAIL----*/

.card-detail {
  background-color: #FFF4F4;
  border-radius: 25px;
  box-shadow: 2px 4px 8px #3d3d3d;
  width: 300px;
  height: 100%;
  max-height: fit-content;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.card-detail h3 {
  font-size: 24px;
  margin-top: 0;
}

.card-detail img {
  border-radius: 25px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-detail ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.card-detail li {
  margin-bottom: 10px;
  font-size: 16px;
} 

.link-list{
  display: inline-flex;
  justify-content: space-around;
  padding: 0 30px;
  margin: 10px 0;
}

.link{
  color: #3d3d3d;
  font-size: 30px ;
}

/*-------FORMS----*/

form {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: flex;
  min-width: 80%;
  flex-direction: column;
  align-items: center;
  background-color: #FFF4F4;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #3d3d3d
}

label {
  align-self: flex-start;
  margin: 10px 0;
}

input {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: 90%;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #3d3d3d;
}

.links{
  margin: 5px;
  padding-top: 5px;
  width: 100%;
}

textarea {
  width: 90%;
  height: 150px;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #3d3d3d;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

select {
  width: 90%;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #3d3d3d;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.btn {
  margin-top: 30px;
  background: #3d3d3d;
  border-radius: 25px;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #3d3d3d;
  outline-offset: 4px;
  font-weight: bold;
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 25px;
  border: 2px solid #3d3d3d;
  color: #3d3d3d;
  background: #FFD3D3;
  transform: translateY(-6px);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.btn:active .front {
  transform: translateY(-2px);
  
}

.checkbox-container{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  place-items: center;
}

.checkbox{
  width:100%;
  padding: 30px 15px;
  text-align: center;
}

.checkbox-list{
  display: flex; 
}

.check-item input{
  display: none;
 }

.check-item span{
  padding: 7px 10px;
  border: 1px solid #3d3d3d;
  border-radius: 30px;
}
.check-item input[type='checkbox']:checked ~ span{
  color: #3d3d3d;
  background-color: #FFD3D3;
}

/*-------PASSWORD EYE----*/

.password-input{
  display: flex;
  height: 40px;
  padding: 0;
  gap: 10px;
  width: 100%;
}

.eye-btn{
  display: block;
  position: relative;
  margin-bottom: 10px;
  margin-right: 5px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 30px;
}

/*------ADD BUTTON--------*/

.add-btn {
  position: fixed;
  bottom: 25px;
  left: 280px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: #71D0FE;
  color: #3d3d3d;
  font-size: 25px;
  z-index: 1;
} 

.user-btn{
  width: 40px;
  height: 40px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: #FF9AD6;
  color: #3d3d3d;
  font-size: 15px;
  padding: 5px;
}

.user-creator-btn{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #71D0FE;
  color: #3d3d3d;
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 25px;
}